:org.apache.felix.configadmin.revision:=L"1"
alias="Simulated PV profile"
enabled=B"true"
id="datasource0"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.datasource0"
values=i[ \
  "800", \
  "1200", \
  "2000", \
  "3200", \
  "4100", \
  "3500", \
  "2400", \
  "1500", \
  ]
