:org.apache.felix.configadmin.revision:=L"1"
id="timedata0"
queryLanguage="INFLUX_QL"
url="http://influxdb:8086"
org="-"
apiKey="root:root"
bucket="openemsdb/autogen"
measurement="data"
isReadOnly=B"false"
poolSize=I"10"
maxQueueSize=I"5000"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.timedata0"
